<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻</title>
<meta name="viewport"
  content="width=device-width,initial-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css"
  href="bootstrap3/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
  href="bootstrap3/font-awesome-4.7.0/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/gzs-style.css">
  <link rel="stylesheet" href="css/fdf-style.css">
</head>
<body>
<header>
  <nav class="navbar navbar-default fdf-daohang"><!--导航条-->
    <div class="container fdf-moren">
      <div class="container fdf-moren">
        <div class="col-xs-2">
          <div class="navbar-header fdf-header">
            <!--logo部分-->
            <a class="navbar-brand" href="./index.html">
              <img alt="" src="images/fdf/logo.png">
            </a>
          </div>
        </div>
        <div class="col-xs-10 fdf-moren-3">
          <div class="navbar-header fdf-caidan">
            <!--菜单栏-->
            <ul class="nav navbar-nav" id="fdf-caidanbianhua">
              <li><a href="./index.html"><span>主页</span></a></li>
              <li><a href="market.html"><span>市场</span></a></li>
              <li><a href="社区论坛.html"><span>社区</span></a></li>
              <li><a href="news.html"><span>新闻</span></a></li>
              <li style="width: 275px;height: 50px"><!--搜索框-->
                <form class="navbar-form navbar-left" method="get" action="search2.html">
                  <div class="form-group">
                    <input type="text" class="form-control fdf-formbackground-color" placeholder="游戏名..." style="color: #2a6496">
                  </div>
                  <button type="submit" class="btn btn-default fa fa-search" id="fdf-formbackground-color1"></button>
                </form></li>
              <li><!--用户登录-->
                <ul class="nav navbar-nav" id="fdf-caidanbianhua-1">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">个人
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="fdf-xialacaidan">
                      <li><a>未登录</a></li>
                      <li><a href="登录.html">登录</a></li>
                      <li><a href="index.html">注销</a></li>
                      <li><a href="注册.html">注册</a></li>
                    </ul>
                  </li>
                  </li>
                </ul></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
  <!--中间部分-->
  <section>
    <div class="container page" style="width: 1408px">
      <div class="row">
        <!-- 左侧 -->
        <div class="col-md-9">
          <div class="page_content">
            <div class="page_title_area">
              <div class="breadcrumbs">
                <a href="#">所有产品</a> &gt; <a href="#">新闻</a>
              </div>
              <h2 class="pageheader">所有新闻</h2>
            </div>
          </div>
          <!-- 新闻1 -->
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69.jpg">
            <div class="date headline">上午8:15</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Dota 2 Update - October
                16th, 2019</a>
            </div>
            <div class="feed">Dota 2 - Valve</div>
            <div class="body">
              - The match quality survey we mentioned in our recent blog
              post is now enabled. Let's hear your feedback!<br> <br>
              - On Friday we reverted the change that reduced the hard
              limit for MMR party spread in ranked matchmaking. We will
              be thinking about that change a little more and revisiting
              it when we are more confident in the change and the
              alternatives that exist. In the mean time we’ve added a UI
              indicator when large MMR spreads exist in parties to let
              players know that being in such parties will negatively
              impact match quality and queue times.
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻2 -->
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69(1).jpg">
            <div class="date headline">上午1:25</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Daily Deal - Circle
                Empires, 40% Off</a>
            </div>
            <div class="feed">Circle Empires - Valve</div>
            <div class="body">
              Today's Deal: Save 40% on <a href="#" class="hyperlink">Circle
                Empires</a>!*<br> <br> Look for the deals each day
              on the front page of Steam. Or follow us on <a href="#"
                class="hyperlink">twitter</a> or <a href="#"
                class="hyperlink">Facebook</a> for instant notifications
              wherever you are!<br> <br>*Offer ends Friday at
              10AM Pacific Time<br> <a href="#"><img
                src="images/gzs/images/capsule_467x181.jpg"></a>
            </div>
            <!-- 新闻3 -->
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69(2).jpg">
            <div class="date headline">上午1:22</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Daily Deal - Beat
                Hazard 2, 20% Off</a>
            </div>
            <div class="feed">Beat Hazard 2 - Valve</div>
            <div class="body">
              Today's Deal: Save 20% on <a href="#" class="hyperlink">Beat
                Hazard 2</a>!*<br> <br> Look for the deals each
              day on the front page of Steam. Or follow us on <a
                href="#" class="hyperlink">twitter</a> or <a href="#"
                class="hyperlink">Facebook</a> for instant notifications
              wherever you are!<br> <br>*Offer ends October 23
              at 10AM Pacific Time<br> <a href="#"
                class="hyperlink"><img
                src="images/gzs/images/capsule_467x181(1).jpg"> </a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻4 -->
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69(3).jpg">
            <div class="date headline">上午12:20</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Team Fortress 2 Update
                Released</a>
            </div>
            <div class="feed">Team Fortress 2 - Valve</div>
            <div class="body">
              An update to Team Fortress 2 has been released. The update
              will be applied automatically when you restart Team
              Fortress 2. The major changes include:<br> <br>
              <ul type="square">
                <li>Updated the Accursed Unusual taunt effect to
                  fix a problem with the color<br>
                </li>
                <li>Updated the equip_region for a couple of the
                  Spooky Spoils cosmetic items<br>
                </li>
                <li>Updated/Added some tournament medals<br></li>
                <li>Updated the localization files<br></li>
                <li>Updated koth_slaughter_event
                  <ul type="square">
                    <li>Fixed a spot where players could spam the
                      Underworld exit effect<br>
                    </li>
                    <li>Fixed a sightline into the spawn rooms<br>
                    </li>
                    <li>Fixed players being able to perch on flood
                      lights<br>
                    </li>
                    <li>Implemented additional prop fades to
                      increase performance</li>
                  </ul>
                </li>
                <li>Updated pl_precipice_event_final
                  <ul type="square">
                    <li>Removed the right side path from BLU spawn
                      near control point A to help BLU in keep momentum
                      during coordinated pushes<br>
                    </li>
                    <li>BLU main spawn has been rearranged to
                      outlet the BLU team to the left of the courtyard<br>
                    </li>
                    <li>Removed upper balcony for control point D
                      on the RED team's side<br>
                    </li>
                    <li>Added additional cover near control point A
                      and control point D to block long headshot
                      sightlines<br>
                    </li>
                    <li>Redesigned RED spawn to support missing
                      balcony level<br>
                    </li>
                    <li>Added a ramp inside the Cave to allow
                      players to jump up onto the dropdown platform that
                      leads to control point D<br>
                    </li>
                    <li>Fixed engineers being able to build in
                      certain doorways<br>
                    </li>
                    <li>Moved the health cabinet in the neutral
                      spawn closer to the exit doors<br>
                    </li>
                    <li>Fixed one-way doors closing too soon,
                      trapping players<br>
                    </li>
                    <li>Fixed the cliff-side one way door not
                      closing properly, leaving behind invisible
                      collision<br>
                    </li>
                    <li>Added additional health and ammo pickups
                      between control point A and control point C<br>
                    </li>
                    <li>Fixed several spots players shouldn't be
                      able to reach<br>
                    </li>
                    <li>Extended spawn room triggers to better
                      encapsulate the neutral forward spawn room<br>
                    </li>
                    <li>Made several shed rooftops non-buildable
                      areas for engineers<br>
                    </li>
                    <li>Added more pumpkin bombs<br></li>
                    <li>Spells cast by the cauldron are now helpful
                      for the BLU team. The cauldron will only cast the
                      tornado, jump pad, and skeleton spell. Skeletons
                      will target and attack RED team.<br>
                    </li>
                    <li>Fixed the cauldron spell audio not always
                      playing correctly</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻5 -->
          <div class="newsPostBlock">
            <img class="capsule"
              src="images/gzs/images/capsule_184x69_alt_assets_0.jpg">
            <div class="date headline">10月16日</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Daily Deal - Ancestors
                Legacy, 66% Off</a>
            </div>
            <div class="feed">Ancestors Legacy - Valve</div>
            <div class="body">
              Today's Deal: Save 66% on <a href="#" class="hyperlink">Ancestors
                Legacy</a>!*<br> <br> Look for the deals each day
              on the front page of Steam. Or follow us on <a href="#"
                class="hyperlink">twitter</a> or <a href="#"
                class="hyperlink">Facebook</a> for instant notifications
              wherever you are!<br> <br>*Offer ends Thursday
              at 10AM Pacific Time<br> <a href="#"><img
                src="images/gzs/images/capsule_467x181(2).jpg"></a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻6 -->
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69(4).jpg">
            <div class="date headline">10月16日</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Daily Deal - Battle
                Brothers, 67% Off</a>
            </div>
            <div class="feed">Battle Brothers - Valve</div>
            <div class="body">
              Today's Deal: Save 67% on <a href="#" class="hyperlink">Battle
                Brothers</a>!*<br> <br> Look for the deals each
              day on the front page of Steam. Or follow us on <a
                href="#" class="hyperlink">twitter</a> or <a href="#"
                class="hyperlink">Facebook</a> for instant notifications
              wherever you are!<br> <br>*Offer ends Thursday
              at 10AM Pacific Time<br> <a href="#"><img
                src="images/gzs/images/capsule_467x181(3).jpg"></a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻7 -->
          <div class="newsPostBlock">
            <img class="capsule"
              src="images/gzs/images/capsule_184x69_schinese.jpg">
            <div class="date headline">10月16日</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Midweek Madness -
                Steins;Gate Franchise, up to 60% Off!</a>
            </div>
            <div class="feed">STEINS;GATE - Valve</div>
            <div class="body">
              Save up to 60% on games in the <a href="#"
                class="hyperlink"> Steins;Gate Franchise</a> during this
              week's Midweek Madness*!<br> <br> *Offer ends
              Friday at 10AM Pacific Time<br> <a href="#"><img
                src="images/gzs/images/capsule_lg.jpg"></a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻8 -->
          <div class="newsPostBlock">
            <div class="date headline">10月16日</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Midweek Madness -
                Wolfenstein: The New Order, 50% Off</a>
            </div>
            <div class="feed">Product Release - Valve</div>
            <div class="body">
              Save up to 50% on <a href="#" class="hyperlink">The
                Wolfenstein Franchise</a> during this week's Midweek
              Madness*!<br> <br> *Offer ends Friday at 10AM
              Pacific Time<br> <a href="#"><img
                src="images/gzs/images/message_image_MM.jpg"></a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻9 -->
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69(5).jpg">
            <div class="date headline">10月15日</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Daily Deal - Offworld
                Trading Company, 50% Off</a>
            </div>
            <div class="feed">Offworld Trading Company - Valve</div>
            <div class="body">
              Today's Deal: Save 50% on <a href="#" class="hyperlink">Offworld
                Trading Company</a>!*<br> <br> Look for the deals
              each day on the front page of Steam. Or follow us on <a
                href="#" class="hyperlink">twitter</a> or <a href="#"
                class="hyperlink">Facebook</a> for instant notifications
              wherever you are!<br> <br>*Offer ends Wednesday
              at 10AM Pacific Time<br> <a href="#"><img
                src="images/gzs/images/capsule_467x181(4).jpg"></a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
          <!-- 新闻10 -->
          <div class="newsPostBlock">
            <img class="capsule" src="images/gzs/images/capsule_184x69(6).jpg">
            <div class="date headline">10月15日</div>
            <div class="posttitle">
              <a href="#" class="hyperlink"> Daily Deal - Playism
                Publisher Sale, up to 80% Off</a>
            </div>
            <div class="feed">Playism Publisher Sale - Valve</div>
            <div class="body">
              Today's Deal: Save up to 80% in the <a href="#"
                class="hyperlink">Playism Publisher Sale</a>!*<br>
              <br> Look for the deals each day on the front page of
              Steam. Or follow us on <a href="#" class="hyperlink">twitter</a>
              or <a href="#" class="hyperlink">Facebook</a> for instant
              notifications wherever you are!<br> <br>*Offer
              ends October 21 at 10AM Pacific Time<br> <a href="#"><img
                src="images/gzs/images/header.jpg"></a>
            </div>
            <div class="share">
              分享 ： &nbsp; <a href="#"><img
                src="images/gzs/images/facebook.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/twitter.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/reddit.gif"></a> &nbsp; <a href="#"><img
                src="images/gzs/images/digg.gif"></a>
            </div>
          </div>
        </div>
        <!-- 右侧 -->
        <div class="col-md-3">
          <div class="title_area">
            <div id="viewmodelinks">
              <a class="view_active" href="#">完整内容</a> <a
                class="view_inactive" href="#">提要</a>
            </div>
            <div class="block_header">
              <div>频道</div>
            </div>
            <div class="block_content">
              <div class="block_content_inner">
                <div class="linkbar">
                  <a href="#" class="linkbar">所有新闻</a>
                </div>
                <div class="linkbar1">
                  <a href="#" class="linkbar1">Announcements</a> <a
                    href="#" class="linkbar1">Client Updates</a> <a
                    href="#" class="linkbar1">Press Releases</a> <a
                    href="#" class="linkbar1">Product Releases</a> <a
                    href="#" class="linkbar1">Product Updates</a> <a
                    href="#" class="linkbar1">Steam Blog</a>
                  <div class="block_sub_header_channels">
                    <a href="#" class="block_sub_header_channels">综合新闻</a>
                  </div>
                  <a href="#" class="linkbar1">Eurogamer</a> <a href="#"
                    class="linkbar1">Kotaku</a> <a href="#"
                    class="linkbar1">Left 4 Dead Official Blog</a> <a
                    href="#" class="linkbar1">PC Gamer</a> <a href="#"
                    class="linkbar1">Portal 2 Official Blog</a> <a
                    href="#" class="linkbar1">Rock, Paper, Shotgun</a> <a
                    href="#" class="linkbar1">Shacknews</a> <a href="#"
                    class="linkbar1">Steam Community Announcements</a> <a
                    href="#" class="linkbar1">TF2 Official Blog</a>
                </div>
              </div>
            </div>
            <div class="block_header1">
              <div>搜索新闻</div>
            </div>
            <div class="block_content">
              <div class="block_content_inner">
                <div>
                  <input type="text" name="sou" placeholder="输入搜索" id="color"><a
                    href="#"><img src="images/gzs/images/ico_search.png"
                    class="img"></a>
                </div>
              </div>
            </div>
            <div class="block_header1">
              <div>存档</div>
            </div>
            <div class="block_content">
              <div class="block_content_inner">
                <div class="block_sub_region">
                  <div class="block_sub_header_channels">
                    <div class="block_sub_header_channels">2019</div>
                    <span class="month"><a href="#" class="month">10月
                    </a>&nbsp; <a href="#" class="month">9月 </a>&nbsp; <a
                      href="#" class="month">8月 </a>&nbsp; <a href="#"
                      class="month">7月 </a>&nbsp; <a href="#"
                      class="month">6月 </a>&nbsp; <a href="#"
                      class="month">5月 </a>&nbsp; <br> <a href="#"
                      class="month">4月 </a>&nbsp; <a href="#"
                      class="month">3月 </a>&nbsp; <a href="#"
                      class="month">2月 </a>&nbsp; <a href="#"
                      class="month">1月 </a>&nbsp;</span>
                  </div>
                  <div class="block_sub_header_channels">
                    <div class="block_sub_header_channels">存档年份</div>
                    <span class="month"> <a href="#"
                      class="month">2019 </a>&nbsp; <a href="#"
                      class="month">2018 </a>&nbsp; <a href="#"
                      class="month">2017 </a>&nbsp; <a href="#"
                      class="month">2016 </a>&nbsp; <a href="#"
                      class="month">2015 </a>&nbsp; <br> <a
                      href="#" class="month">2014 </a>&nbsp; <a href="#"
                      class="month">2013 </a>&nbsp; <a href="#"
                      class="month">2012 </a>&nbsp; <a href="#"
                      class="month">2011 </a>&nbsp; <a href="#"
                      class="month">2010 </a>&nbsp; <br> <a
                      href="#" class="month">2009 </a>&nbsp; <a href="#"
                      class="month">2008 </a>&nbsp; <a href="#"
                      class="month">2007 </a>&nbsp; <a href="#"
                      class="month">2006 </a>&nbsp; <a href="#"
                      class="month">2005 </a>&nbsp; <br> <a
                      href="#" class="month">2004 </a>&nbsp; <a href="#"
                      class="month">2003 </a>&nbsp; <a href="#"
                      class="month">2002 </a>&nbsp;
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="well fdf-footer">
    <div class="container fdf-moren-1">
      <div class="fdf-link-top"></div>
      <div class="row">
        <div class="col-xs-2">
          <img src="images/fdf/logo_valve_footer.png"  class="fdf-footer-imgweizhi" href="./index.html"/></div>
        <div class="col-xs-8 fdf-footerzhongjian">
          <b>Copyright © 2019 www.hjkbz.cn All Rights Reserved 京ICP备08000853号-56
            <a href="./index.html">后街扛把子之高斯林牛啤</a> 版权所有<br>
            所有的价格均已包含增值税（如适用）
          </b>
        </div>
        <div class="col-xs-2">
          <img src="images/fdf/logo_footer.png" class="fdf-footer-imgweizhi" href="index.html"/>
        </div>
      </div>
      <div class="fdf-link-top"></div>
    </div>
  </footer>
</body>
<script type="text/javascript" src="bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript"
  src="bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="bootstrap3/js/respond.min.js"></script>
</html>